@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@media (max-width: 640px) {

  /* Tailwind's 'sm' breakpoint is 640px */
  .mobile-bottom {
    position: fixed;
    /* Use fixed positioning to keep it at the bottom */
    bottom: 50px;
    /* Stick it to the bottom of the viewport */
    top: auto;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
  }
}

@layer components {

  /*Custom the scrollbar, setting it to non-display */
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /*button animation */



  .category-btn {
    @apply relative w-12 h-12 bg-blue-100 flex flex-shrink-0 items-center justify-center rounded-3xl hover:rounded-xl focus:rounded-xl focus:border-4 focus:border-white transition-all duration-75 ease-linear;

  }

  /*NEED TO BE TESTED!!! by adjusting left-* */
  .category-number-feature {
    @apply absolute left-9 bottom-8 bg-red-600 rounded-full text-white text-xs font-bold w-5 h-5 flex justify-center items-center transition-all transform scale-0 group-hover:scale-100;
  }

  /*when click the button, the effect number feature on the top right corner bounce forth and back*/
  .category-btn:focus-within .category-number-feature {
    @apply scale-100 transform transition-all duration-200 delay-100 translate-x-[-4px] translate-y-[4px];

  }
}