@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@media (max-width: 640px) { /* Tailwind's 'sm' breakpoint is 640px */
    .mobile-bottom {
      position: fixed; /* Use fixed positioning to keep it at the bottom */
      bottom: 50px; /* Stick it to the bottom of the viewport */
      top: auto;
      left: 50%; /* Center horizontally */
      transform: translateX(-50%);
    }
}